* {
    margin: 0px;
}

body {
    background-color: cadetblue;
}

div {
    border: 1px solid red;
}

/* Header */
.header {
    width: 100%;
    height: 150px;
    text-align: center;
}

.headerTitle {
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
}

.headerSubTitle {
    font-size: 30px;
    font-style: italic;
}

/* Main body */
.mainBody {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.textBox{
    width: 550px;
}

.drawBox {
    width: 550px;
}

.tileWrapper {
    border: 5px solid black;
    width: 512px;
    height: 512px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 0px;
}

.tile {
    border: 0px;
    /*width: 32px;
    height: 32px;*/
    flex: 1 0 auto;
}

.tileRow {
    border: 0px;
    display: flex;
    flex-direction:row;
    max-width: 512px;
    flex: 1 ;
    gap: 0px;
}